<a href="https://colab.research.google.com/github/rootvesh/rootvesh/blob/main/Copy_of_Tutorial_1_FINAL_ALL_RSM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning values to variables:

In [ ]:
# variable : is a researved memory location to store values
# comments : are special code that ignored when programme is run
x = 100          # An integer assignment
print("value of x = ",x)
# print(complex(10,2))
# print('john')
# print(100)
# print(x)
y = 1000.0       # A floating point
name = 'Ronak'    # A string
boo_1 = True       # boolean
print(x,y,name,boo_1)
# print("100") 
z = complex(x,y)  # complex number 
print (z)

In [ ]:
# x= 1 + 2j
z= complex (1,2)
print(type(z))
print(z)

In [ ]:
# Type 
print(type(x))
print(type(y))
print(type(name))
print(type(boo_1))
print(type(z))

In [ ]:
a = '23' # integer
b = '25' # string
print(type(a), type(b))
c =  str(a)
print(type(c),c)
d = int(b)
print(type(d),d)
print(a+b)

<class 'str'> <class 'str'>
<class 'str'> 23
<class 'int'> 25
2325

In [ ]:
# Type Conversion
a = 23
print(type(a))
b = str(a) 
print(type(b))
print('a'+b)
print(a+a)
print(b+b)
c = float(a)
name = 'Ronak'
# name_1 = int(name)
# print(c)

Taking inputs:

In [ ]:
a=float(input("Enter a value a:"))
b=float(input("Enter a value b:"))
# print(type(a), type(b))
print("a+b=",a+b)
print("a-b =",a-b)
print("a*b=",a*b)
print("a/b=",a/b)

Enter a value a:12.0
Enter a value b:3.0
a+b= 15.0
a-b = 9.0
a*b= 36.0
a/b= 4.0

In [ ]:
# Escape sequence
print("This is a lot of space.")
print("This is \t \t a lot of space.")
print("This \t is \t a \t lot \t of \t space.")
print("one line \nsecond line")
print("When I said, \'immediately\' I meant today!")
print("\" Do or do not.There is no try.\"")

This is a lot of space.
This is 	 	 a lot of space.
This 	 is 	 a 	 lot 	 of 	 space.
one line
second line
When I said, 'immediately' I meant today!
" Do or do not.There is no try."

Programming Challenge

In [ ]:
# Using your knowledge of escape sequences, create a single print()
# statement with single string inside of it that displays this when the
# program is run:

#  *******
#   *****
#    ***
#     *
print("*******\n *****\n  ***\n   *")

Math operators

In [ ]:
a = 15
b = 4
# print(225-456)
# print("225-456")
# print(a+b) # addition
# print("c =", a+b)
# print("c =", a+b)
# print(a-b) # subtraction
# print(a/b) # divison
print("mul = ", a*b) # multiplication
print("power = ",a**b) # power
print("F.D.= ",a//b) # floor division : it returns the largest possible integer(Quotient)
print("Mod= ",a % b) # modulo

mul =  60
power =  50625
F.D.=  3
Mod=  3

**Assignment operator**

In [ ]:
a = 5
a -= 6 # a = a-6 
# a += 5 # a= a+5 =16
print(a)

30

Operator precedence

In [ ]:
a=20
b= 10
c=15
d=5
print((a + b) * c / d )
print(((a + b) * c)/d) 
print((a + b) * (c / d))
print(a + (b * c) / d)
print((9 - 7) * 2 **3 + 10%6// - 1 * 2 - 1)

Ptogramming assignment :1

In [ ]:
# A customer of a grocery store is purchasing 6 items. The names and prices of the items are as follows:
# wheat floor-  160 Rs.
# Arrabiata Pasta  - 27 Rs.
# Bag of 20 Organic Garlic Cloves - 380.25 Rs.
# Italian Seasoning 1.5 ltr Bottle - 178.90 Rs.
# Biscuits - 158 Rs.
# Noodles of pack 2 - 223.65 Rs.
# In a .py file, write a program which calculates the subtotal of all 6 of these items using an expression. 
# The subtotal is just the sum of all of their prices.
# Use print() to display the result of the expression.
W_floor= 160
pasta =27
garlic=380.25
bottle = 178.90
bisc = 158
noodle = 223.65
# subtotal = W_floor+ pasta +garlic+bottle +bisc+noodle
print(W_floor+ pasta +garlic+bottle +bisc+noodle)

In [ ]:
a = input("price of wheat flour :")
b = input("price of pasta :")
c = input("price of bottle :")
print("total= ", int(a)+int(b)+int(c))

In [ ]:
#  take inputs
name = input("Please enter your name:")
print("your name is " + name + ".")
print(type(name))

# num = input("What is your favorite number?")
# print("your favorite number is" + number + ".")
# print(type(num))

Programming Challenge

In [ ]:
# In a .py file, create a program and use input() three times to get
# answers to the following questions from a user. Store each of the
# answers in a variable.
# What is your name?
# What is your age?
# What is your favorite color?
# Then, concatenate everything into a string within a print() statement
# with the form "So your name is [name], your age is [age], and your
# favorite color is [color].”

In [ ]:
# In a Python file, use input() to ask the user to enter an integer that 10
# will be added to. Assign what they type to a variable.
# print() the sum of the integer they entered and 10.

Comparison operator:

In [ ]:

print(3 > 5)
print(7 > 2)
print(5.67 < 2)
print(3 >= 2)
print(2 <= 2)
print(10 != 100) # not equals to 
print(10 != 10)
print(10 == 10)
print("hello"=="hello")
print("hello"!="world")
print("Hello"=="hello")

False
True
False
True
True
True
False
True
True
True
False

Boolean operator

In [ ]:
# AND operator
print(4 > 1 and "hello"=="hello") # True and true
print("earth"=="Earth" and 6 <= 2)
print(10 == 5 and 10!= 5)
# OR operator
print(4 > 1 or "hello"=="hello")
print("earth"=="Earth" or 6 <= 2)
print(10 == 5 or 10!= 5)
# # NOT operator
print(not 4 > 1 )
print(not "earth"=="Earth")

True
False
False
True
False
True
False
True

control statement:

In [ ]:
#  if statement
a = 33
b = 200
if b > a:
  print("b is greater than a") 

#elif statemet
# a = 33
# b = 33
# if b > a:
#   print("b is greater than a")
# elif a == b:
#   print("a and b are equal")
# # else statemet
# a = 200
# b = 33
# if b > a:
#   print("b is greater than a")
# elif a == b:
#   print("a and b are equal")
# else:
#   print("a is greater than b")

 a is equal to b

In [ ]:
# while loop
# Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1
# break statement
# Exit the loop when i is 3:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
# Continue to the next iteration if i is 3:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
# For loop
word = "house"
for letter in word:
  print(letter)
# range() with one argument
one_input = range(5)
for num in one_input:
  print(num)
# range() with two argument
second_inputs = range(5,10)
for num in second_inputs:
  print(num)
# range() with three arguments
three_inputs = range(20,1,-3)
for num in three_inputs:
  print(num)

String Methods:

In [ ]:
f = "There is no capital here"
print(f.upper())
print(f.lower())
print("The sun is bright".isupper())
print("the sun is bright".islower())
print("SHOUT".lower().isupper())
print("BATMAN".isalpha()) # only letters
print("BATMAN123".isalnum()) # numbers and letters
print("456982".isalnum()) 
print("A456982".isdecimal()) # only numbers
print("".isspace()) # only spaces
print("The Empire Strikes Back".istitle())# Only Title case

In [ ]:
# Multiple string Methods
print("this is string".startswith("t"))
print("To infinity and beyond!".endswith("beyond!"))
print("".join(["one","Two","Three"]))
print(" ".join(["one","Two","Three"]))
print(",".join(["one","Two","Three"]))
print(", ".join(["one","Two","Three"]))
print("...".join(["one","Two","Three"]))
print("Eggs,milk,bacon,waffles".split())
print("Eggs,milk,bacon,waffles".split(","))

In [ ]:
print("hello world".rjust(15))
print("hello world".ljust(15)+"four spaces later.")
# .rjust() and .ljust()’second argument
print("hello world".rjust(15,'-'))
print("hello world".ljust(15,'*')+"four spaces later.")
print("hello world".center(15))
print("hello world".center(15,"*"))

In [ ]:
print("I had an exiting trip!!111111")
print("I had an exiting trip!!111111".strip("1"))
print("I had an exiting trip!!111111".rstrip("1"))
print("I had an exiting trip!!111111".lstrip("1"))

print("juice, bread, egg, cheese, beef, bread".rstrip(", bread"))
print("juice, bread, egg, cheese, beef, bread".rstrip(",ed arb"))
print("blueblueyellowblue".strip("eulb"))

print("Good morning".replace("morning","afternoon"))

print(len("tree"))
print(len("My name is james"))

LIST

In [ ]:
ex_1=[2,5,6,7,8]
ex_2=[2.35,5.63]
ex_3=["red","blue","green","red","white","black"]
ex_4=[True,False,False,False,True,False,True]
ex_5=[[1,2,3,4],[1.2,5.2]]
ex_6=[1,2.3,"blue",True,[1,2,3]]
print(list("blah"))
# IN Or NOT IN
print(1 in ex_1)
print(8 in ex_1)
print(1 not in ex_1)
print(8 not in ex_1)

In [ ]:
ind_ex = [ "carpet" , "hardwood" , "plastic" ]
print (ind_ex [1])
# ind_ex1 = [ [ 1, 2, 3 ], [ 3, 4, 5 ], [ 6, 7, 8 ] ]
# print (ind_ex1 [ 2 ][ 0 ])
# print (ind_ex [ 2 ][ 0 ])
# negative = [1, 2, 3, 4, 5]
# print (negative[-1])
# # Using items accessed by index in expressions
# mixed = [ False, 365, 4.25, "this is string"]
# print( mixed [ 2 ] + 1.76 )
# print("I have used  ̈"+ mixed [ -1 ] + "as an example too many times.")
# # list slicing
# sliced = [1, 2, 3, 4, 5, 6, 7, 8, 9]
# print( sliced [ : 4 ])
# print( sliced [3 : 8])
# print( sliced [6 :])

hardwood

Write a program to program to find odd and even numbers from a list [12, 13, 5, 7, 8, 9, 100, 3490].

In [ ]:
list_1=[12,13,5,7,8,9,100,3490]
list_2 = []
list_3 = []
for num in list_1:
  if num%2!=0:
    list_2.append(num)
  else:
    list_3.append(num)
print(list_2)
print(list_3)

[13, 5, 7, 9]
[12, 8, 100, 3490]

Write a Python program to sum all the elements in a list

In [ ]:
# list_1=[12,13,5,7,8,9,100,3490]
# total=sum(list_1)
# print(total)
n = input ("Total elements:")
list_1= []
for i in range(int(n)):
  a = int(input("Enter a value:"))
  list_1.append(a)
print(list_1) 

# numbs =[12,13,5,7,8,9,100,3490]
# temp=0
# for num in numbs:
#     temp=temp+num

# print(temp)

Total elements:2
Enter a value:1
Enter a value:2
[1, 2]

Find maximum and minimum number from the list [12,13,5,7,8,9,100,3490]

In [ ]:
list_1 =[12,13,5,7,8,9,100,3490]
list_1.sort()
print(list_1)
print("max = ",list_1[-1])
print("min =" ,list_1[0])

[5, 7, 8, 9, 12, 13, 100, 3490]
max =  3490
min = 5

Tuple:

In [ ]:
tup1 = ("physics", "chemistry", 1997, 2000)
tup2 = ( 1, 2, 3, 4, 5 )
tup3 = "1","2","3","4"
tup4 = ( )
tup5 = ( 1 , )
print(tup1, tup2, tup3,tup4,tup5)
# Accessing values in tuple
print(tup1[0])
print(tup2[1:5]) 
# Tuples are immutable which means you cannot update or change
# the values of tuple elements
# tup1[10]=110

('physics', 'chemistry', 1997, 2000) (1, 2, 3, 4, 5) ('1', '2', '3', '4') () (1,)
physics
(2, 3, 4, 5)

In [ ]:
tup1 = ("physics", "chemistry", 1997, 2000)
tup2 = ( 1, 2, 3, 4, 5 )
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)
print(type(tup1))
print(tup1+tup2)
print(len(tup1))
print(tup2*4)
print("Hi!"*10)
print(3 in tup2)
print("physics" not in tup1)
[print(i) for i in (1,2,3)]

In [ ]:
# Unpacking of tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

Dictionaries:

In [ ]:
dict = {"Name" : "Zara", "Age" : 7, "Class" : "First"}
print(dict)
print(dict [ "Name" ])
print(dict [ "Age"])
dict["Age"] = 8 ; # update existing entry
dict["School"] = "DPS School" ; # Add new entry
print(dict)
del dict ["Name"] ; # remove entry with key ’Name’
# dict.clear( ) ; # remove all entries in dict
# del dict ; # delete entire dictionary
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(len (dict))
print(7 in dict)
print(2 in dict)
print(dict.get ("Class"))
# del dict["Class"]

In [ ]:
# Write a program to create a nested tuple to store roll number, name and marks of students
# Sr. No    Roll No.  Name   Marks
# 1         25        Dixit  54
# 2         13        Kartik 49
# 3         36        Jash   35

t=((21,"Kartik",100),(29,"Jahanav",100),(21,"Ramashis",100))
print("{:<10}{:<10}{:<12}{:<10}".format("Sr no.","Roll no","Name","marks"))
for i in range(0,len(t)):
    print("{:<10}{:<10}{:<12}{:<10}".format(i+1,t[i][0],t[i][1],t[i][2]))

S No. Roll No 	 Name 	 Marks
1 	 25 	 Dixit   54
2 	 13 	 Karti   49
3 	 36 	 Jash   35

In [ ]:
# Write a program to swap two numbers with using TUPLE - By Kartik
t1=15.1
t2=20.5
print("Before swap t1={} and t2={}".format(t1,t2))
(t1,t2)=(t2,t1)
print("After swap t1={} and t2={}".format(t1,t2))

#  Using temporary variable - By Nandan 
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))
print("Before swapping: x = {0} and y = {1}".format(x,y))
z = x
x = y
y = z
print("After swapping: x = {0} and y = {1}".format(x,y))

# By Dixit
a = 1
b = 2
a, b = b, a
print('a = ', a)
print('b = ', b)

In [ ]:
# Write a program to input n numbers from the user and store it in tuple.
# Print the maximum and minimum number from this tuple.
user = tuple()
n = int(input("Number of elements: "))
for i in range(0,n):
  num = float(input("Enter a Value: "))
  user = user + (num,)

print(user)
print("Max. Number: ", max(user))
print("Min. Number: ", min(user))

Number of elements: 2
Enter a Value: 1
Enter a Value: 2
(1.0, 2.0)
Max. Number:  2.0
Min. Number:  1.0

NumPy is a Python library used for working with arrays.
It also has functions for working in domain of linear algebra, fourier transform, and matrices.
NumPy stands for Numerical Python

In [ ]:
# import numpy
import numpy as np
arr = numpy.array([1, 2, 3, 4, 5]) # 1-D array
arr_1 = np.array(42) # 0-D array
arr_2 = np.array([[1, 2, 3], [4, 5, 6]]) # 2-D array
arr_3 = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]]) # 3-D array
arr_4 = np.array([1, 2, 3, 4], ndmin=6)
print(arr_2.ndim) # dimension number
# print(type(arr_1))
print(arr_4)

2
[[[[[[1 2 3 4]]]]]]

In [ ]:
# Accessing elements from NumPy array
print(arr[3]) # Access 1-D array
print(arr_2[0,2]) # Access 2-D array
print(arr_3[0,1,2]) # Access 3-D array
print(arr_2[-1,-1]) # Negative indexing

a = np.array([1, 2, 3, 4, 5, 6, 7])
print(a[1:5])
print(a[4:])
print(a[:4])
print(a[-3:-1])
print(a[1:5:2])
print(a[::2])


b = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(b[1, 1:4])
print(b[0:2, 2])
print(b[0:2, 1:4])

In [ ]:
# Data type
# print(arr.dtype)
# arr_5 = np.array(['apple', 'banana', 'cherry'])
# print(arr_5.dtype)
# reshape array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])
newarr = arr.reshape(4, 3) 
newarr_1 = arr.reshape(2, 3, 2)
print(newarr)
print(newarr_1) # 2 arrays that contains 3 arrays, each with 2 elements

In [ ]:
# loops in array
import numpy as np
# arr = np.array([1, 2, 3])
# for x in arr:
#   print(x)
# 2-D array
arr = np.array([[1, 2, 3], [4, 5, 6]])
for x in arr:
  print(x)

for x in arr:
  for y in x:
    print(y)

In [ ]:
# User define function
def add(a,b):
  return float(a)+ float(b)
def sub(a,b):
  return float(a)- float(b)
def mul(a,b):
  return float(a)*float(b)
def power(a,b):
  return float(a)**float(b)
# print(add(2.5,3.5))
# print(sub(2.5,3.5))
# print(mul(2.5,3.5))
# print(power(2,3))

# to check that given number is odd or even using def()
# By Ronit
# def number(a):
#     if a%2!=0:
#       print(a,"is odd")
#     else:
#       print(a,"is even")

# n = int(input("enter a number"))
# number(n)

# Python program to convert Celsius to Fahrenheit and vicecersa
# F= 1.8*C +32
# By Harsh
# tempc = float(input("Enter temprature in terms of celsius:"))

# def temp_conversion(tempc):
#     tempf = 1.8*tempc + 32
#     print(tempf,"Here is your temprature in farenheit")
# temp_conversion(tempc);

# By Ronit
# def cel2fer(c):
#      farhenheit=(9/5)*c+32  
#      print("temperature in farhenheit is:",farhenheit)
# c=float(input("enter temperature in celsius"))

# cel2fer(c)

def far_to_cel(f):
     celsius= (f-32)*(5/9)  
     print("temperature in farhenheit is:",celsius)
f=float(input("enter temperature in celsius"))
far_to_cel(f)

enter temperature in celsius77
temperature in farhenheit is: 25.0

Define functions:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

def add(a,b):
  return int(a) + int(b)

print(add(1,2))

Hello from a function
3

In [ ]:
# Write a program by defining a function (transcendental or algebraic)
#  and find an interval in which a root of the function lies.
def f(x):
  return x**3+x+1

n = 0
condition= True
while condition:
  a = n
  b = n-1
  if f(a)* f(b)< 0:
      print("Interval is (%d, %d)"%(a,b))
      condition = False
      break
  else:
      n = n-1

In [ ]:
# 1. Write a program to check, if a given number is odd or even using def

def oddeven(num):
  if num%2==0:
    return "even"
  else:
    return "Odd"
oddeven(23)

# 2. Write a program by defining a function (transcendental or algebraic) to find an interval in which a root of the function lies.

In [ ]:
# First method (First Function)
def f(x):
  return x**3-3*x + 5 # Root lies in the interval (-3, -2)
def g(a, b):
  return f(a)*f(b)
a = int(input("a = "))
b = int(input("b = "))
if a > b:
  print("a must be less than b")
else:
  if g(a, b) < 0:
    print('Root lies in the interval (%d, %d)' %(a, b))
  else:
    print('Root does not lie in the interval(%d, %d)' %(a, b))

In [ ]:
# Second method (First Function)
def f(x):
  return x**3-3*x + 5  # Root lies in the interval (-3, -2)
n = 0
condition  = True
while condition:
  if f(n)*f(n-1)<0:
    print('Root lies in the interval (%d, %d)' %(n-1, n))
    condition = False
    break
  else:
    n=n-1

In [ ]:
#  First method (Second Function)
def f(x):
  return x**3 + 4*x**2 + 2*x - 15  # Root lies in the interval (1, 2)
def g(a, b):
  return f(a)*f(b)
a = int(input("a = "))
b = int(input("b = "))
if a > b:
  print("a must be less than b")
else:
  if g(a, b) < 0:
    print('Root lies in the interval (%d, %d)' %(a, b))
  else:
    print('Root does not lie in the interval(%d, %d)' %(a, b))

In [ ]:
#  Second method (Second Function)
def f(x):
  return x**3 + 4*x**2 + 2*x - 15  # Root lies in the interval (1, 2)
n = 0
condition  = True
while condition:
  if f(n)*f(n+1)<0:
    print('Root lies in the interval (%d, %d)' %(n, n+1))
    condition = False
    break
  else:
    n=n+1

In [ ]:
# 3. Write a program by defining a function (transcendental or algebraic) to find an interval in which a root of the function lies.
# 1. Define a function
# 2. Take length of the interval from user
# 3. Find the interval of the entered length
def f(x):
  return x**3 + 4*x**2 + 2*x - 15  # Root lies in the interval (1, 2)
n = 0
cd = float(input("enter tolerance: ")) 
condition  = True
while condition:
  if f(n)*f(n+cd)<0:
    print('Root lies in the interval (%0.5f, %0.5f)' %(n, n+cd))
    condition = False
    break
  else:
    n=n+cd

In [ ]:
# Write a program by defining a function (transcendental or algebraic) to find an interval in which a root of the function lies.
# 1. Define a function
# 2. Take length of the interval from user
# 3. Find the interval of the entered length
def f(x):
  return x**3-3*x + 5  # Root lies in the interval (-3, -2)
n = 0
cd = float(input("Desired interval length: ")) 
condition  = True
while condition:
  if f(n)*f(n+cd)<0:
    if cd > 0:
      print('Root lies in the interval (%0.5f, %0.5f)' %(n, n+cd))
      condition = False
      break
    else:
      print('Root lies in the interval (%0.5f, %0.5f)' %(n+cd, n))
      condition = False
      break
  else:
    n=n+cd

In [ ]:
def f(x):
  return x**3 + 4*x**2 + 2*x - 15  # Root lies in the interval (1, 2)
n = 0
cd = float(input("Desired interval length: ")) 
condition  = True
while condition:
  if f(n)*f(n+cd)<0:
    if cd > 0:
      print('Root lies in the interval (%0.5f, %0.5f)' %(n, n+cd))
      condition = False
      break
    else:
      print('Root lies in the interval (%0.5f, %0.5f)' %(n+cd, n))
      condition = False
      break
  else:
    n=n+cd

In [ ]:
# from math import cos
import math
def f(x):
  # return x - cos(x)  # Root lies in the interval (0, 1)
  # return x*math.exp(x) - 2 # Root lies in the interval (0, 1)
  return x*math.log10(x) - 4.77
n = 0.1    # n > 0 for logarithmic functions 
cd = float(input("Desired interval length: ")) 
condition  = True
while condition:
  if f(n)*f(n+cd)<0:
    if cd > 0:
      print('Root lies in the interval (%0.5f, %0.5f)' %(n, n+cd))
      condition = False
      break
    else:
      print('Root lies in the interval (%0.5f, %0.5f)' %(n+cd, n))
      condition = False
      break
  else:
    n=n+cd

In [ ]:
# Bisection Method Algorithm:
# 1. Choose a starting interval [a0,b0] such that f(a0)f(b0)<0.
# 2. Compute  m where  m = a0 + b0 / 2 is the midpoint
# 3. Determine the next subinterval [a1,b1] :
#     If f(m0)<0, then let [a1,b1] be the next interval with a1 = a0 and b1=m0 .
#     If f(m0)>0, then let [a1,b1] be the next interval with a1 = m0 and b1=b0 .
# 4.Repeat (2) and (3) until the interval [aN,bN]  reaches some predetermined length.
# 5.Return the midpoint value mN = aN+bN/2 .
# Defining Function
import math
def f(x):
  return math.cos(x) - x*math.exp(x)  # Root lies in the interval (0, 1)
  # return x*math.exp(x) - 2 # Root lies in the interval (0, 1)
  # return x**3-2*x-5
def bisection(a,b,e):
    condition = True
    n=1
    # while (abs(a-b)>=e):
    while condition:
      m =  (a + b) / 2
      print('Iteration-%d, m = %0.4f and f(m) = %0.4f' % (n, m, f(m)))
      if f(a)*f(m)<0:
        b = m
      else:
        a = m
      n=n+1
      condition = abs(f(m)) > e
    print("The value of root is : ","%.4f"%m)

# Main Program 

n = 0    # n > 0 for logarithmic functions 
cd = float(input("Desired interval length: ")) 
condition  = True
while condition:
  a=n
  b=n+cd
  if f(a)*f(b)<0:
    if cd > 0:
      print('Root lies in the interval (%0.5f, %0.5f)' %(a, b))
      e = float(input("tolerable error:"))
      bisection(a,b,e)
      condition = False
      # break
    else:
      print('Root lies in the interval (%0.5f, %0.5f)' %(b, a))
      condition = False
      e = float(input("tolerable error:"))
      bisection(b,a,e)
      # break
  else:
    n=n+cd

In [ ]:
# Regula-Falsi Method 
# 1. Choose a starting interval [a0,b0] such that f(a0)f(b0)<0.
# 2. Compute  m where  m = ((a*f(b))-(b*f(a))) / (f(b)-f(a))
# 3. Determine the next subinterval [a1,b1] :
#     If f(a0)f(m0)<0, then let [a1,b1] be the next interval with a1 = a0 and b1=m0 .
#     If f(b0)f(m0)<0, then let [a1,b1] be the next interval with a1 = m0 and b1=b0  .
# 4.Repeat (2) and (3) until the interval [aN,bN]  reaches some predetermined length.
# 5.Return the midpoint value mN = aN+bN/2 .
# Defining Function
import  math
def f(x):
  # return math.cos(x) - x*math.exp(x)  # Root lies in the interval (0, 1)
  # return x*math.exp(x) - 2 # Root lies in the interval (0, 1)
  return x**3-4*x-9

def RegulaFalsi(a,b,e):
    condition = True
    n=1
    while condition:
      m =  ((a*f(b))-(b*f(a))) / (f(b)-f(a))
      print('Iteration-%d, m = %0.4f and f(m) = %0.4f' % (n, m, f(m)))
      if f(a)*f(m)<0:
        b = m
      else:
        a = m
      n=n+1
      condition = abs(f(m)) > e
    print("The value of root is : ","%.4f"%m)

# Main Program 

n = 0    # n > 0 for logarithmic functions 
cd = float(input("Desired interval length: ")) 
condition  = True
while condition:
  a=n
  b=n+cd
  if f(a)*f(b)<0:
    if cd > 0:
      print('Root lies in the interval (%0.5f, %0.5f)' %(a, b))
      e = float(input("tolerable error:"))
      RegulaFalsi(a,b,e)
      condition = False
      # break
    else:
      print('Root lies in the interval (%0.5f, %0.5f)' %(b, a))
      condition = False
      e = float(input("tolerable error:"))
      RegulaFalsi(b,a,e)
      # break
  else:
    n=n+cd

In [ ]:
# Newton- Raphson Method

# Defining function and derivatives
import math
def f(x):
  return x**4 - x-10
    # return 3*x-math.cos(x)-1
def df(x):
  return 4*x**3 -1
    # return 3 + math.sin(x)
# Implementation of the method
def NR(x0, e):
  n = 1
  x1 = x0 - f(x0)/df(x0)
  while abs(f(x1)) >e:
     x1 = x0 - f(x0)/df(x0)
     print('Iteration-%d, x1 = %0.5f' % (n, x1))
     x0=x1
     n=n+1
  # while abs(f(x0) / df(x0)) >e:
  #    x1 = x0 - f(x0)/df(x0)
  #    print('Iteration-%d, x1 = %0.4f' % (n, x1))
  #    x0=x1
  #    n=n+1
  print('\nRequired root is: %0.4f' % x1)

# Main Program 

n = 0    # n > 0 for logarithmic functions 
cd = float(input("Desired interval length: ")) 
condition  = True
while condition:
  a=n
  b=n+cd
  if f(a)*f(b)<0:
    if cd > 0:
      print('Root lies in the interval (%0.5f, %0.5f)' %(a, b))
      print(f(a),f(b))
      x0 = float(input("Initial guess:"))
      e = float(input("tolerable error:"))
      NR(x0,e)
      condition = False
      # break
    else:
      print('Root lies in the interval (%0.5f, %0.5f)' %(b, a))
      condition = False
      print(f(a),f(b))
      x0 = float(input("Initial guess:"))
      e = float(input("tolerable error:"))
      NR(x0,e)
      # break
  else:
    n=n+cd