<a href="https://colab.research.google.com/github/rootvesh/rootvesh/blob/main/IT_A_2_Practical_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # Data types in Python-Python Numbers

In [ ]:
Python List

In [2]:
a = [5,10,15,20,25,30,35,40]

# a[4] = 25
print("a[4] = ", a[4])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])
print("a[:]=",a[:])

a[4] =  25
a[0:3] =  [5, 10, 15]
a[5:] =  [30, 35, 40]
a[:]= [5, 10, 15, 20, 25, 30, 35, 40]

In [3]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

print(my_list[-1])

print(my_list[-3])

e
o

In [ ]:
'''How to slice lists in Python?
We can access a range of items in a list by using the slicing operator :(colon).'''
# List slicing in Python

my_list = ['p','r','o','g','r','a','m','i','z']

# elements 3rd to 5th
print(my_list[2:5])

# elements beginning to 4th
print(my_list[:-5])

# elements 6th to end
print(my_list[5:])

# elements beginning to end
print(my_list[:])

['o', 'g', 'r']
['p', 'r', 'o', 'g']
['a', 'm', 'i', 'z']
['p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z']

In [ ]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# We can add one item to a list using the append() method or add several items using extend() method.
# Appending and Extending lists in Python
odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [ ]:
#We can also use + operator to combine two lists. This is also called concatenation.
#The * operator repeats a list for the given number of times.
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [ ]:
#Delete/Remove List Elements
#We can delete one or more items from a list using the keyword del. It can even delete the list entirely.
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete entire list
del my_list

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [ ]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']

In [ ]:
# Python list methods
my_list = [3, 8, 1, 8, 0, 8, 4]

# Output: 1
print(my_list.index(8))

# Output: 2
print(my_list.count(8))

my_list.sort()

# Output: [0, 1, 3, 4, 8, 8, 8]
print(my_list)

my_list.reverse()

# Output: [8, 8, 8, 4, 3, 1, 0]
print(my_list)

1
3
[0, 1, 3, 4, 8, 8, 8]
[8, 8, 8, 4, 3, 1, 0]

In [ ]:
#List Membership Test
#We can test if an item exists in a list or not, using the keyword in.
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

True
False
True

In [ ]:
#Iterating Through a List
#Using a for loop we can iterate through each item in a list.

for fruit in ['apple','banana','mango',"orange"]:
    print("I like",fruit)

I like apple
I like banana
I like mango
I like orange

In [ ]:
#Python Tuple
#Tuple is an ordered sequence of items same as a list. 
#The only difference is that tuples are immutable. Tuples once created cannot be modified.
#It is defined within parentheses () where items are separated by commas.
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
# A tuple can also be created without using parentheses. This is known as tuple packing.
my_tuple = 3, 4.6, "dog"
print(my_tuple)

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6
print(c)      # dog

(3, 4.6, 'dog')
3
4.6
dog

In [ ]:
#Creating a tuple with one element is a bit tricky.

#Having one element within parentheses is not enough. We will need a trailing comma to indicate that it is, in fact, a tuple.

my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple))  # <class 'tuple'>

# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
#Access Tuple Elements
#We can use the index operator [] to access an item in a tuple, where the index starts from 0.
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][4])       # 'e'
print(n_tuple[2][0])       # 1
print(n_tuple[1][1])

p
t
e
1
4

In [ ]:
# Negative Indexing
#Python allows negative indexing for its sequences.

#The index of -1 refers to the last item, -2 to the second last item and so on.
# Negative indexing for accessing tuple elements
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

# Output: 't'
print(my_tuple[-1])

# Output: 'r'
print(my_tuple[-4])

t
r

In [ ]:
# Slicing
#We can access a range of items in a tuple by using the slicing operator colon :.
# Accessing tuple elements using slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [ ]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])


# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output: (4, 2, 3, [9, 5])
print(my_tuple)

# Tuples can be reassigned
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

(4, 2, 3, [9, 5])
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [ ]:
# Concatenation
# Output: (1, 2, 3, 4, 5, 6)
print((1, 2, 3) + (4, 5, 6))

# Repeat
# Output: ('Repeat', 'Repeat', 'Repeat')
print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

In [ ]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('e'))  # Output: 1
print(my_tuple.index('l'))  # Output: 3

1
3

In [ ]:
#1. Tuple Membership Test
#We can test if an item exists in a tuple or not, using the keyword in.
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)

True
False
True

In [ ]:
#2. Iterating Through a Tuple
#We can use a for loop to iterate through each item in a tuple.
# Using a for loop to iterate through a tuple
for name in ('John', 'Kate','Vihaan',"Kushal"):
    print("Jay Jalaram", name)

Jay Jalaram John
Jay Jalaram Kate
Jay Jalaram Vihaan
Jay Jalaram Kushal

In [ ]:
#Advantages of Tuple over List
#Since tuples are quite similar to lists, both of them are used in similar situations. However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

#We generally use tuples for heterogeneous (different) data types and lists for homogeneous (similar) data types.
#Since tuples are immutable, iterating through a tuple is faster than with list. So there is a slight performance boost.
#Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
#If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

In [ ]:
#Example: Python while Loop
#Program to add natural
# numbers up to 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter n: "))

# initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter n: 76
The sum is 2926

In [ ]:
#Example: Python while Loop
#Program to multiply natural
# numbers up to 
# mul = 1*2*3*...*n

# To take input from the user,
n = int(input("Enter n: "))

# initialize sum and counter
mul = 1
i = 1
while i <= n:
    mul = mul*i
    i = i+1    # update counter

# print the mul
print("The multiplication  is", mul)

Enter n: 10
The multiplication  is 3628800

In [ ]:
#While loop with else
'''Example to illustrate
the use of else statement
with the while loop'''

counter = 0

while counter < 9:
    print("Inside loop")
    counter = counter + 1
else:
    print("Inside else")

Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside loop
Inside else