<a href="https://colab.research.google.com/github/rootvesh/rootvesh/blob/main/IT_A_2_PRACTICAL_3_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 2nd  item    
odd[1] = 3            

print(odd)

# change 2nd to 4th items
odd[0:4] = [1,3, 5, 7]  

print(odd)

[2, 3, 6, 8]
[1, 3, 5, 7]

In [4]:
 # Appending and Extending lists in Python
odd = [1, 3, 5]

odd.append(7)

print(odd)

odd.extend([9, 11, 13])

print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [5]:
even=[2,4,6,8,10]
even.append(12)
print(even)

[2, 4, 6, 8, 10, 12]

In [8]:
even=[2,4,6,8,10]
even.extend([12,14,16,18,20])
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[1]

print(my_list)

# delete multiple items
del my_list[1:3]

print(my_list)

# delete entire list
del my_list

['p', 'o', 'b', 'l', 'e', 'm']
['p', 'l', 'e', 'm']

In [15]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'l'
print(my_list.pop(3))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
l
['r', 'o', 'b', 'e', 'm']
m
['r', 'o', 'b', 'e']
[]

In [21]:
# Python list methods
my_list = [3, 8, 8, 8, 0, 9, 4]


print(my_list.index(9))

print(my_list.count(8))

my_list.sort()

print(my_list)

my_list.reverse()

print(my_list)

5
3
[0, 3, 4, 8, 8, 8, 9]
[9, 8, 8, 8, 4, 3, 0]

In [22]:
for fruit in ['apple','banana','mango',"orange"]:
    print("I like",fruit)

I like apple
I like banana
I like mango
I like orange

In [23]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[1])   # 'e' 
print(my_tuple[4])   # 'i'



# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][2])       # 'u'
print(n_tuple[1][2])       # 6
print(n_tuple[2][2])

e
i
u
6
3

In [24]:
# Accessing tuple elements using slicing
my_tuple = ('p','r','o','g','r','a','m','i','z')

# elements 2nd to 4th
# Output: ('r', 'o', 'g')
print(my_tuple[1:4])

# elements beginning to 2nd
# Output: ('p', 'r')
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [27]:
my_tuple = ('a', 'p', 'p', 'p', 'e',)

print(my_tuple.count('p'))  # Output: 2
print(my_tuple.index('e'))  # Output: 3

3
4

In [29]:
 #Using a for loop to iterate through a tuple
for name in ('John', 'Kate',"aditya"):
    print("Hello", name)

Hello John
Hello Kate
Hello aditya

In [31]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 9, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 52

In [33]:
# Program to find the multiplication of all numbers stored in a list

# List of numbers
numbers = [6, 9, 1, 8, 4, 2, 5, 4, 1]

# variable to store the sum
mul = 1

# iterate over the list
for val in numbers:
    mul = mul*val

print("The multiplication is", mul)

The multiplication is 69120

In [36]:
# program to display student's marks from record
student_name = 'Ram'

marks = {'James': 90, 'Jules': 55, 'Arthur': 77}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print('No entry with that name found.')

No entry with that name found.

In [37]:
#Example: Python while Loop
# Program to add natural
# numbers up to 
# sum = 1+2+3+...+n

# To take input from the user,
n = int(input("Enter the number  n: "))
# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

Enter n: 25
The sum is 325

In [39]:
#Example: Python while Loop
# Program to multiply natural
# numbers up to 
# mult= 1*2*3*...*n

# To take input from the user,
n = int(input("Enter the number  n: "))
# initialize sum and counter
mult = 1
i = 1

while i <= n:
    mult = mult*i
    i = i+1    # update counter

# print the mult
print("The multiplication is", mult)

Enter the number  n: 5
The multiplication is 120

In [41]:
import math

In [42]:
print(math.pi)

3.141592653589793

In [43]:
print(math.e)

2.718281828459045

In [45]:
x=9
print(math.sqrt(x))

3.0