<a href="https://colab.research.google.com/github/rootvesh/rootvesh/blob/main/Practical_1_IT_A_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=2
y=x+2
print(y)

4

In [ ]:
print("Hello IT-A-2 students for practical")

Hello IT-A-2 students for practical

In [ ]:
x=3
print(x)

3

In [ ]:
y=3
x=y*3
z=y-9
w=y+7
print(x)
print(z)
print(w)

9
-6
10

In [ ]:
x=3
y=x**4-x+2*x/6
print(y)

79.0

In [ ]:
print(7/3)

2.3333333333333335

In [ ]:
print(type(y))

<class 'float'>

In [ ]:
# find the multiplication of two numbers 
num1 =int(input("enter the num1:"))
num2 = int(input("enter the num2:"))
z=num1*num2
print(z)

enter the num1:10
enter the num2:25
250

In [ ]:
print("hello"+"world")

helloworld

In [ ]:
print("Hello"*5)

HelloHelloHelloHelloHello

In [16]:
x=3
y=7
z=complex(x,y)
print(z)

(3+7j)

In [17]:
a=float(input("Enter a value a:"))
b=float(input("Enter a value b:"))
# print(type(a), type(b))
print("a+b=",a+b)
print("a-b =",a-b)
print("a*b=",a*b)
print("a/b=",a/b)

Enter a value a:4.2
Enter a value b:5.6
a+b= 9.8
a-b = -1.3999999999999995
a*b= 23.52
a/b= 0.7500000000000001

In [19]:
# Escape sequence
print("This is a lot of space.")
print("This is  \t a lot of space.")
print("This \t is \t a \t lot \t of \t space.")
print("Rootvesh Mehta \n9879618783\nrootveshmehta.gd@indusuni.ac.in")
print("When I said, \'immediately\' I meant today!")
print("\" Do or do not.There is no try.\"")

This is a lot of space.
This is  	 a lot of space.
This 	 is 	 a 	 lot 	 of 	 space.
Rootvesh Mehta
9879618783
rootveshmehta.gd@indusuni.ac.in
When I said, 'immediately' I meant today!
" Do or do not.There is no try."

In [20]:
# A customer of a grocery store is purchasing 6 items. The names and prices of the items are as follows:
# wheat floor-  1660 Rs.
# Arrabiata Pasta  - 28 Rs.
# Bag of 20 Organic Garlic Cloves - 380.25 Rs.
# Italian Seasoning 1.5 ltr Bottle - 178.90 Rs.
# Biscuits - 158 Rs.
# Noodles of pack 2 - 223.65 Rs.
# In a .py file, write a program which calculates the subtotal of all 6 of these items using an expression. 
# The subtotal is just the sum of all of their prices.
# Use print() to display the result of the expression.
W_floor= 1660
pasta =28
garlic=380.25
bottle = 178.90
bisc = 158
noodle = 223.65
# subtotal = W_floor+ pasta +garlic+bottle +bisc+noodle
print(W_floor+ pasta +garlic+bottle +bisc+noodle)

2628.8

In [21]:
a = input("price of wheat flour :")
b = input("price of pasta :")
c = input("price of bottle :")
print("total= ", int(a)+int(b)+int(c))

price of wheat flour :4
price of pasta :6
price of bottle :200
total=  210

In [ ]:
Comparison Operator

In [22]:
print(3 > 5)
print(7 > 2)
print(5.67 < 2)
print(3 >= 2)
print(2 <= 2)
print(10 != 100) # not equals to 
print(10 != 10)
print(10 == 10)
print("hello"=="hello")
print("hello"!="world")
print("Hello"=="hello")

False
True
False
True
True
True
False
True
True
True
False

Boolean operator

In [23]:
# AND operator
print(4 > 1 and "hello"=="hello") # True and true
print("earth"=="Earth" and 6 <= 2)
print(10 == 5 and 10!= 5)
# OR operator
print(4 > 1 or "hello"=="hello")
print("earth"=="Earth" or 6 <= 2)
print(10 == 5 or 10!= 5)
# # NOT operator
print(not 4 > 1 )
print(not "earth"=="Earth")

True
False
False
True
False
True
False
True