<a href="https://colab.research.google.com/github/rootvesh/rootvesh/blob/main/Tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning values to variables:

In [ ]:
# variable : is a researved memory location to store values
# comments : are special code that ignored when programme is run
x = 100          # An integer assignment
print("value of x = ",x)
# print(complex(10,2))
# print('john')
# print(100)
# print(x)
y = 1000.0       # A floating point
name = 'Ronak'    # A string
boo_1 = True       # boolean
print(x,y,name,boo_1)
# print("100") 
z = complex(x,y)  # complex number 
print (z)

In [ ]:
# x= 1 + 2j
z= complex (1,2)
print(type(z))
print(z)

In [ ]:
# Type 
print(type(x))
print(type(y))
print(type(name))
print(type(boo_1))
print(type(z))

In [ ]:
a = '23' # integer
b = '25' # string
print(type(a), type(b))
c =  str(a)
print(type(c),c)
d = int(b)
print(type(d),d)
print(a+b)

<class 'str'> <class 'str'>
<class 'str'> 23
<class 'int'> 25
2325

In [ ]:
# Type Conversion
a = 23
print(type(a))
b = str(a) 
print(type(b))
print('a'+b)
print(a+a)
print(b+b)
c = float(a)
name = 'Ronak'
# name_1 = int(name)
# print(c)

Taking inputs:

In [ ]:
a=float(input("Enter a value a:"))
b=float(input("Enter a value b:"))
# print(type(a), type(b))
print("a+b=",a+b)
print("a-b =",a-b)
print("a*b=",a*b)
print("a/b=",a/b)

Enter a value a:12.0
Enter a value b:3.0
a+b= 15.0
a-b = 9.0
a*b= 36.0
a/b= 4.0

In [ ]:
# Escape sequence
print("This is a lot of space.")
print("This is \t \t a lot of space.")
print("This \t is \t a \t lot \t of \t space.")
print("one line \nsecond line")
print("When I said, \'immediately\' I meant today!")
print("\" Do or do not.There is no try.\"")

This is a lot of space.
This is 	 	 a lot of space.
This 	 is 	 a 	 lot 	 of 	 space.
one line
second line
When I said, 'immediately' I meant today!
" Do or do not.There is no try."

Programming Challenge

In [ ]:
# Using your knowledge of escape sequences, create a single print()
# statement with single string inside of it that displays this when the
# program is run:

#  *******
#   *****
#    ***
#     *
print("*******\n *****\n  ***\n   *")

Math operators

In [ ]:
a = 15
b = 4
# print(225-456)
# print("225-456")
# print(a+b) # addition
# print("c =", a+b)
# print("c =", a+b)
# print(a-b) # subtraction
# print(a/b) # divison
print("mul = ", a*b) # multiplication
print("power = ",a**b) # power
print("F.D.= ",a//b) # floor division : it returns the largest possible integer(Quotient)
print("Mod= ",a % b) # modulo

mul =  60
power =  50625
F.D.=  3
Mod=  3

**Assignment operator**

In [ ]:
a = 5
a -= 6 # a = a-6 
# a += 5 # a= a+5 =16
print(a)

30

Operator precedence

In [ ]:
a=20
b= 10
c=15
d=5
print((a + b) * c / d )
print(((a + b) * c)/d) 
print((a + b) * (c / d))
print(a + (b * c) / d)
print((9 - 7) * 2 **3 + 10%6// - 1 * 2 - 1)

Ptogramming assignment :1

In [ ]:
# A customer of a grocery store is purchasing 6 items. The names and prices of the items are as follows:
# wheat floor-  160 Rs.
# Arrabiata Pasta  - 27 Rs.
# Bag of 20 Organic Garlic Cloves - 380.25 Rs.
# Italian Seasoning 1.5 ltr Bottle - 178.90 Rs.
# Biscuits - 158 Rs.
# Noodles of pack 2 - 223.65 Rs.
# In a .py file, write a program which calculates the subtotal of all 6 of these items using an expression. 
# The subtotal is just the sum of all of their prices.
# Use print() to display the result of the expression.
W_floor= 160
pasta =27
garlic=380.25
bottle = 178.90
bisc = 158
noodle = 223.65
# subtotal = W_floor+ pasta +garlic+bottle +bisc+noodle
print(W_floor+ pasta +garlic+bottle +bisc+noodle)

In [ ]:
a = input("price of wheat flour :")
b = input("price of pasta :")
c = input("price of bottle :")
print("total= ", int(a)+int(b)+int(c))

In [ ]:
#  take inputs
name = input("Please enter your name:")
print("your name is " + name + ".")
print(type(name))

# num = input("What is your favorite number?")
# print("your favorite number is" + number + ".")
# print(type(num))

Programming Challenge

In [ ]:
# In a .py file, create a program and use input() three times to get
# answers to the following questions from a user. Store each of the
# answers in a variable.
# What is your name?
# What is your age?
# What is your favorite color?
# Then, concatenate everything into a string within a print() statement
# with the form "So your name is [name], your age is [age], and your
# favorite color is [color].”

In [ ]:
# In a Python file, use input() to ask the user to enter an integer that 10
# will be added to. Assign what they type to a variable.
# print() the sum of the integer they entered and 10.

Comparison operator:

In [ ]:

print(3 > 5)
print(7 > 2)
print(5.67 < 2)
print(3 >= 2)
print(2 <= 2)
print(10 != 100) # not equals to 
print(10 != 10)
print(10 == 10)
print("hello"=="hello")
print("hello"!="world")
print("Hello"=="hello")

False
True
False
True
True
True
False
True
True
True
False

Boolean operator

In [ ]:
# AND operator
print(4 > 1 and "hello"=="hello") # True and true
print("earth"=="Earth" and 6 <= 2)
print(10 == 5 and 10!= 5)
# OR operator
print(4 > 1 or "hello"=="hello")
print("earth"=="Earth" or 6 <= 2)
print(10 == 5 or 10!= 5)
# # NOT operator
print(not 4 > 1 )
print(not "earth"=="Earth")

True
False
False
True
False
True
False
True

control statement:

In [ ]:
#  if statement
a = 33
b = 200
if b > a:
  print("b is greater than a") 

#elif statemet
# a = 33
# b = 33
# if b > a:
#   print("b is greater than a")
# elif a == b:
#   print("a and b are equal")
# # else statemet
# a = 200
# b = 33
# if b > a:
#   print("b is greater than a")
# elif a == b:
#   print("a and b are equal")
# else:
#   print("a is greater than b")

 a is equal to b

In [ ]:
# while loop
# Print i as long as i is less than 6:
i = 1
while i < 6:
  print(i)
  i += 1
# break statement
# Exit the loop when i is 3:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
# Continue to the next iteration if i is 3:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

In [ ]:
For loop
word = "house"
for letter in word:
  print(letter)
# range() with one argument
one_input = range(5)
for num in one_input:
  print(num)
# range() with two argument
second_inputs = range(5,10)
for num in second_inputs:
  print(num)
# range() with three arguments
three_inputs = range(20,1,-3)
for num in three_inputs:
  print(num)

String Methods:

In [ ]:
f = "There is no capital here"
print(f.upper())
print(f.lower())
print("The sun is bright".isupper())
print("the sun is bright".islower())
print("SHOUT".lower().isupper())
print("BATMAN".isalpha()) # only letters
print("BATMAN123".isalnum()) # numbers and letters
print("456982".isalnum()) 
print("A456982".isdecimal()) # only numbers
print("".isspace()) # only spaces
print("The Empire Strikes Back".istitle())# Only Title case

In [ ]:
# Multiple string Methods
print("this is string".startswith("t"))
print("To infinity and beyond!".endswith("beyond!"))
print("".join(["one","Two","Three"]))
print(" ".join(["one","Two","Three"]))
print(",".join(["one","Two","Three"]))
print(", ".join(["one","Two","Three"]))
print("...".join(["one","Two","Three"]))
print("Eggs,milk,bacon,waffles".split())
print("Eggs,milk,bacon,waffles".split(","))

In [ ]:
print("hello world".rjust(15))
print("hello world".ljust(15)+"four spaces later.")
# .rjust() and .ljust()’second argument
print("hello world".rjust(15,'-'))
print("hello world".ljust(15,'*')+"four spaces later.")
print("hello world".center(15))
print("hello world".center(15,"*"))

In [ ]:
print("I had an exiting trip!!111111")
print("I had an exiting trip!!111111".strip("1"))
print("I had an exiting trip!!111111".rstrip("1"))
print("I had an exiting trip!!111111".lstrip("1"))

print("juice, bread, egg, cheese, beef, bread".rstrip(", bread"))
print("juice, bread, egg, cheese, beef, bread".rstrip(",ed arb"))
print("blueblueyellowblue".strip("eulb"))

print("Good morning".replace("morning","afternoon"))

print(len("tree"))
print(len("My name is james"))

LIST

In [ ]:
ex_1=[2,5,6,7,8]
ex_2=[2.35,5.63]
ex_3=["red","blue","green","red","white","black"]
ex_4=[True,False,False,False,True,False,True]
ex_5=[[1,2,3,4],[1.2,5.2]]
ex_6=[1,2.3,"blue",True,[1,2,3]]
print(list("blah"))
# IN Or NOT IN
print(1 in ex_1)
print(8 in ex_1)
print(1 not in ex_1)
print(8 not in ex_1)

In [ ]:
ind_ex = [ "carpet" , "hardwood" , "plastic" ]
print (ind_ex [ 1 ])
ind_ex1 = [ [ 1, 2, 3 ], [ 3, 4, 5 ], [ 6, 7, 8 ] ]
print (ind_ex1 [ 2 ][ 0 ])
print (ind_ex [ 2 ][ 0 ])
negative = [1, 2, 3, 4, 5]
print (negative[-1])
# Using items accessed by index in expressions
mixed = [ False, 365, 4.25, "this is string"]
print( mixed [ 2 ] + 1.76 )
print("I have used  ̈"+ mixed [ -1 ] + "as an example too many times.")
# list slicing
sliced = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print( sliced [ : 4 ])
print( sliced [3 : 8])
print( sliced [6 :])

In [ ]:
for i in range(1,51):
  print(i)

In [ ]:
# Newton- Raphson Method
# Defining function and derivatives
def f(x):
  return x**3 - 5*x+3
def df(x):
  return 3*x**2 - 5
def ddf(x):
  return 6*x

# Implementation of the method
def NR(x0, e):
  
  n = 1
  condition = True
  while condition:
    c = x0-f(x0)/df(f(x0))
    print("iteration = ", n, ", x = ", c)
    if abs(c-x0)>=e:
      condition = True
      x0=c
      n+=1
    else:
      condition = False
  print("root is ",c)

# Input from user
x0 = float(input('Initial Guess = '))
e = float(input('Error = '))

if (f(x0)*ddf(x0))/(df(x0)*df(x0))>=1:
  # print('''Initial Guess is incorrect
  # Try another Value''')
  print("Initial Guess is incorrect")
else:
  NR(x0,e)

Initial Guess = 0.6
Error = 0.00001
iteration =  1 , x =  0.6444441518080539
iteration =  2 , x =  0.6535398561258264
iteration =  3 , x =  0.6558274288603917
iteration =  4 , x =  0.6564155398274909
iteration =  5 , x =  0.65656744427948
iteration =  6 , x =  0.6566067249947732
iteration =  7 , x =  0.6566168854992455
iteration =  8 , x =  0.6566195138534554
root is  0.6566195138534554